[submodule "ArianeeSmartContract"]
	path = ArianeeSmartContract
	url = git@github.com:Arianee/ArianeeSmartContract.git
[submodule "ArianeeToken"]
	path = ArianeeToken
	url = git@github.com:Arianee/ArianeeToken.git
[submodule "ArianeeStore"]
	path = ArianeeStore
	url = git@github.com:Arianee/ArianeeStore.git
[submodule "ArianeeService"]
	path = ArianeeService
	url = git@github.com:Arianee/ArianeeService.git
[submodule "ArianeeMessage"]
	path = ArianeeMessage
	url = git@github.com:Arianee/ArianeeMessage.git
[submodule "ArianeeStaking"]
	path = ArianeeStaking
	url = git@github.com:Arianee/ArianeeStaking.git
